{% extends 'layout.twig' %}
{% block body %}
    {% if auth.check() %}
        <div class="container">
            <table class="table table-bordered">
                <caption>{{ years | length }} rows</caption>
                <thead>
                <tr>
                    <th>Year</th>
                    <th>Nb </th>
                    <th>Collections</th>
                    <th>Net</th>
                    <th>Louis</th>
                    <th>Julien</th>
                    <th>Papa</th>

                </tr>
                </thead>
                <tbody>
                {% for year in years %}
                    <tr>
                        <td>{{ year.year }}</td>
                        <td>{{ year.count }}</td>
                        <td>{{ year.amount }}</td>
                        <td>{{ year.amount - reservation.amount * 0.213 }}</td>
                        <td>{{ (year.amount - year.amount * 0.213) * 0.5 }}</td>
                        <td>{{ (year.amount - year.amount * 0.213) * 0.25}}</td>
                        <td>{{ (year.amount * 0.213) + (year.amount - year.amount * 0.213) *0.25}}</td>
                    </tr>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    {% else %}
        {% include 'Home/homeGuest.twig' %}
    {% endif %}
{% endblock %}