{% macro input(name, value, label, class, placeholder, type, required, other) %}
    <div class="{% if required %}required {% endif %}field">
        <label for="{{ name }}">{{ label }}</label>
        <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value }}" id="{{ name }}" class="{{ class }}"
               placeholder="{{ placeholder }}" {{ other }} {% if required %}required{% endif %}>
    </div>
{% endmacro %}

{% macro select(name, options, value_key, text_key, default_value, default_text, selected_value, id, label, class) %}
    <div class="field">
        {% if label %}
            <label for="{{ id }}">{{ label }}</label>
        {% endif %}
        <select name="{{ name }}" id="{{ id }}" class="{{ class }}">
            {% if default_value or default_text %}
                <option value="{{ default_value }}">{{ default_text }}</option>
            {% endif %}
            {% for option in options %}
                <option value="{{ attribute(option, value_key) }}"{% if selected_value == attribute(option, value_key) %} selected{% endif %}>{{ attribute(option, text_key) }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro textarea(name, value, id, label, class, rows, cols) %}
    <div class="field">
        <label for="{{ id }}">{{ label }}</label>
        <textarea class="{{ class }}" name="{{ name }}" id="{{ id }}" cols="{{ cols }}"
                  rows="{{ rows }}">{{ value }}</textarea>
    </div>
{% endmacro %}


 {% macro input_line(name, value, label, type, class_label, class, required, att) %}
     <div class="{% if required %}required {% endif %} row ">
         <label class=" {{ class_label }} " for="{{ name }}">{{ label }} {% if required %}<span style="color: red;"> * </span>  {% endif %}</label>
         <input {{ att }}  type="{{ type|default('text') }}" name="{{ name }}" value="{{ value }}" id="{{ name }}"
                           class="{{ class }} mecadoInputLine" {% if required %}required{% endif %}>
     </div>
 {% endmacro %}

{% macro textarea_line(name, value, label, class_label, class, rows, cols, att ) %}
    <div class="row ">
        <label class="{{ class_label }}" for="{{ name }}">{{ label }}</label>
        <textarea {{ att }} class="{{ class }} mecadoTextareaLine" name="{{ name }}" id="{{ name }}"
                            rows="{{ rows }}">{{ value }}</textarea>
    </div>
{% endmacro %}

